<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" href="css/admin.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
	<script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
	<script src="js/admin.js" type="module" defer></script>
</head>
<body>
	<header>
		<h1>Tracky.js</h1>
	</header>
	<h2>Analytics</h2>
	<section class="analytics-block">
		<h3>Live Users</h3>
		<p class="counter"></p>
		<div class="liveUsersContainer"></div>
		<div class="panel">
			
		</div>
	</section>
	<section class="analytics-block">
		<div id="liveMap"></div>
	</section>
</body>
</html>